{% extends layout_lang %}{% load common %}

{% block title %}
    24gole.pl - Konkurs - 300 zł + FIFA 2008 do wygrania za typowanie wyników!
{% endblock %}

{% block path %}
    Konkurs - II edycja - 300 zł + FIFA 2008
{% endblock path %}

{% block content %}

    <div id="kontent-tresc">
        <div class="modul">
            <h1 class="tytul">Konkurs - II edycja - 300 zł + FIFA 2008</h1>

            <p style="font-size: 13px; padding-left: 10px; padding-top: 10px;">

            <p style="font-size: 13px; padding-left: 10px; padding-top: 10px;">
                Jest nam miło ogłosić tym razem <strong>podwójny konkurs dla najlepszego typera miesiąca</strong> - do
                wygrania nagrody pieniężne o wartości <strong>300 zł</strong> od firmy UNIBET oraz <a
                    href="http://www.fifa08.ea.com/pl/"><strong>FIFA 2008</strong></a> w polskiej wersji językowej.
                Aktualne rankingi miesiąca można zobaczyć na stronie <a href="/typer/miesiac/luty/">www.24gole.pl/typer/miesiac/luty</a>,
                a najlepsza 10. jest prezentowana na każdej stronie serwisu.
            </p>

            <p style="font-size: 13px; padding-left: 10px; padding-top: 10px;">
                <strong>Warunkiem wygrania gry</strong> jest podanie ważnego adresu email przy rejestracji na który
                zostanie przesłana informacja o wygranej. W przypadku nie spełnienia tego warunku nagroda zostanie
                przekazana kolejnej osobie w rankingu.
            </p>

            <p style="font-size: 13px; padding-left: 10px; padding-top: 10px;">
                <strong>Warunkiem przekazania wygranej przez firmę UNIBET</strong> <a
                    href="http://pl.unibet.com/punter/index_campaign_reg.jsp?cmpid=11068&lang=pl&affid=1466903">jest
                posiadanie konta na jej stronie</a> oraz <strong>bycie pełnoletnim</strong>. Tak jak w poprzednim
                przypadku - jeżeli nie spełnisz warunków <strong>nagroda zostanie przekazana</strong> kolejnej osobie w
                rankingu!
            </p>

            <p style="font-size: 13px; padding-left: 10px; padding-top: 10px;">
                Wygrane pieniężne od firmy UNIBET zostaną przekazane na Twoje konto w tej firmie, a wysokość wygranych
                kształtuje się następująco:
            <ul style="padding-left: 30px;">
                <li><b>1.</b> miejsce - <b>100 zł</b> (+ FIFA '08)</li>
                <li><b>2.</b> miejsce - <b>50 zł</b></li>
                <li><b>3.</b> miejsce - <b>50 zł</b></li>
                <li><b>4.</b> miejsce - <b>50 zł</b></li>
                <li><b>5.</b> miejsce - <b>50 zł</b></li>
            </ul>
            </p>
            <p style="font-size: 15px; padding-left: 10px; padding-top: 10px;">
                ŻYCZYMY UDANYCH TYPÓW !!!
            </p>

            <p style="font-size: 15px; padding-left: 10px; padding-top: 10px;">
            <center><img src="/static/images/fifa_08_pl.jpg"></center>
            </p>
            </p>
        </div>

    </div>
    <div id="kontent-kolumna1">
        {% include "partials/right-column.html" %}
    </div>

    </div>
{% endblock content %}