{% extends layout_lang %}{% load common %}

{% block title %}
    24goals.com - For Press
{% endblock %}

{% block path %}
    For Press
{% endblock path %}

{% block content %}

    <div id="kontent-tresc">
        <div class="modul">
            <h1 class="tytul">For press</h1>
            <br/>

            <h3>Please place all question to: <a href="mailto:marek@24goals.com">marek@24goals.com</a></h3>
        </div>

    </div>
    <div id="kontent-kolumna1">
        {% include "partials/right-column.html" %}
    </div>
    </div>
{% endblock content %}