{% extends "matches/details.html" %}
{% load i18n if %}

{% block description %}
    {% blocktrans with match.home_team.name_en as home_team_name_en and match.away_team.name_en as away_team_name_en and match.match_date as match_date %}
        Mecz pilki noznej pomiedzy {{ home_team_name_en }}, a {{ away_team_name_en }} z dnia {{ match_date }}. Sprawdz
        wyniki na zywo. Dodaj komentarze i analizy do tego spotkania. Obejrzyj zdjecia i filmiki.{% endblocktrans %}
{% endblock %}

{% block bramki %}{% endblock bramki %}
{% block kartki %}{% endblock kartki %}
{% block after_match %}{% endblock %}

{% block before_match %}

    <table border="1" cellspacing="0" cellpadding="5">
        <tr>
            <th><h2 class="srodtytul">{{ match.home_team.name_pl }}</h2></th>
            <th><h2 class="srodtytul">{{ match.away_team.name_pl }}</h2></th>
        </tr>
        <tr>
            <td style="width: 300px;">
                {{ last5_home }}
            </td>
            <td style="width: 300px;">
                {{ last5_away }}
            </td>
        </tr>
    </table>

    <h2 class="srodtytul">{% trans 'Tabele' %}</h2>
    {{ league_table }}

{% endblock %}

{% comment %}
    {% block narzedzia %}
        <div class="narzedzia">
            <a class="dodajKomentarz" href="#zakladka-komentarze" title="Dodaj komentarz">Dodaj komentarz</a>
            <a class="dodajAnalize" href="#zakladka-analizy" title="Dodaj analizę">Dodaj analizę</a>
            <a class="druk" href="javascript:print();" title="Drukuj">Drukuj</a>
        </div>
    {% endblock narzedzia %}
{% endcomment %}

{% block komentarze %}
<div class="modul">
    <div id="komentarze_tabs">
        <ul>
            <li><a href="#komentarze" title="{% trans 'Komentarze' %}">{% trans 'Komentarze' %}
                ({{ match.get_comments_count }})</a></li>
            <li><a href="#analizy" title="{% trans 'Analizy' %}">{% trans 'Analizy' %}
                ({{ match.get_analysis_count }})</a></li>
            <li><a href="#zdjecia" title="{% trans 'Zdjecia' %}">{% trans 'Zdjecia' %}
                ({{ match.get_images_count }})</a></li>
            <li><a href="#filmy" title="Filmy">{% trans 'Filmy' %} ({{ match.get_videos_count }})</a></li>
        </ul>
        <div class="boks">
            <div id="komentarze">
                {% for c in match.get_all_comments %}

                <p class="small" {% ifnotequal c.root_id c.id %} style="padding-left: 50px;" {% else %}
                   style="padding-left: 10px;" {% endifnotequal %}>
                    {% if c.user %}
                        <span class="autor">
						<a href="/{% trans 'Uzytkownik URL' %}/{{ c.user|lower }}/">{{ c.user }}</a>
					</span>
                        <span class="{% trans 'punkty' %}">({{ c.user.get_profile.points }} {% trans 'pkt' %})</span>
                    {% else %}
                        <span class="autor">
						{{ c.username }}
					</span>
                    {% endif %}
                    <span class="data" name="date">{{ c.published_at }}</span>
                    <span>{% if request.user.is_staff %}&nbsp;&nbsp;&nbsp;
                        <a href="/admin/main/comments/{{ c.id }}/accept/"
                           style="color: red;">MODERUJ!</a>{% endif %}</span>
                    <br/>
			<span>{{ c.content|safe }}
                {% ifequal c.root_id c.id %}
                    &nbsp;&nbsp;&nbsp;<a onClick="response_to({{ match.id }}, {{ c.id }}, '{{ c.username }}')"
                                         style="font-size: 9px; cursor: pointer;">"{% trans 'odpowiedz!' %}"</a>
                {% endifequal %}
			</span></p>
                {% endfor %}

                <form action="/{% trans 'Mecze URL' %}/send/" method="post">
                    <p>
                        <label for="komentarz"
                               id="response_to_label_{{ match.id }}">{% trans 'Napisz komentarz' %}:</label>
                        <input type="hidden" name="response_to_{{ match.id }}" value="" id="response_to_{{ match.id }}">
                        <textarea id="komentarz_{{ match.id }}" name="comment_content_{{ match.id }}" rows="3"
                                  cols="10"></textarea>
                    </p>
                    {% if not user.is_authenticated %}
                        <div class="alignLeft">
                            <em>{% trans 'Podpis' %}:</em> <input type="text" name="username_{{ match.id }}">
                        </div>
                    {% endif %}
                    <div class="alignRight">
                        <input class="button" name="add_comment_{{ match.id }}" type="submit"
                               value="{% trans 'Wyslij' %}"/>
                    </div>
                </form>
            </div>

            <div id="analizy">
                {% if request.user.is_authenticated %}
                    {% for a in match.get_all_analysis %}
                        <p class="small" style="padding-left: 10px;">
                            <span class="autor"><a
                                    href="/{% trans 'Uzytkownik URL' %}/{{ a.user|lower }}/">{{ a.user }}</a></span>
                            <span class="{% trans 'punkty' %}">({{ a.user.get_profile.points }} {% trans 'pkt' %})</span>
                            <span class="data" name="date">{{ a.published_at }}</span>
                            <span>{% if request.user.is_staff %}&nbsp;&nbsp;&nbsp;
                                <a href="/admin/main/comments/{{ a.id }}/accept/"
                                   style="color: red;">MODERUJ!</a>{% endif %}</span>
                            <br/>
                            <span>{{ a.content|safe }}</span></p>
                    {% endfor %}

                    <form action="/{% trans 'Mecze URL' %}/send/" method="post">
                        <p>
                            <label for={% trans 'analiza' %}>{% trans 'Analiza' %}:</label>
                            <textarea id="analiza_{{ match.id }}" name="analyse_content_{{ match.id }}" rows="3"
                                      cols="10"></textarea>
                        </p>

                        <div class="alignRight">
                            <input class="button" name="add_analyse_{{ match.id }}" type="submit"
                                   value="{% trans 'Wyslij' %}"/>
                        </div>
                    </form>
                {% else %}
                    <p class="komunikat informacja">
                        {% trans 'Aby dodac analize tego meczu lub zobaczyc te napisane przez innych musisz sie zalogowac. Jesli nie masz jeszcze konta' %}
                        <a href="/{% trans 'Rejestracja URL' %}/"
                           title="{% trans 'Formularz rejestracji' %}">{% trans 'zarejestruj sie' %}</a>.
                    </p>
                {% endif %}
            </div>

            <div id="zdjecia">
                <div>
                    {% for i in match.get_images %}
                        <p class="small" style="padding-left: 10px;">
                            <span><a href="{{ i.link }}" target="_blank"><img src="{{ i.link }}"
                                                                              max-width="100"/></a></span><br/>
                            <span class="autor"><a
                                    href="/{% trans 'Uzytkownik URL' %}/{{ i.user|lower }}/">{{ i.user }}</a></span>
                            <span class="{% trans 'punkty' %}">({{ i.user.get_profile.points }} {% trans 'pkt' %})</span>
                            <span class="data" name="date">{{ i.created_at|date:"Y-m-d h:i"}}</span>
                        </p>
                    {% endfor %}
                    <br class="clear"/>
                </div>
                {% if request.user.is_authenticated %}
                    <p class="komunikat informacja">
                        {% trans 'Jezeli posiadasz zdjecia zwiazane z tym spotkaniem i chcialbys je umiescic w serwisie' %}
                        <a href="/{% trans 'mecz URL' %}/{{ match.id }}/add_photos">{% trans 'kliknij tutaj' %}</a>
                    </p>
                {% else %}
                    <p class="komunikat informacja">
                        {% trans 'Aby dodac zdjecia musisz sie zalogowac. Jesli nie masz jeszcze konta' %} <a
                            href="/{% trans 'Rejestracja URL' %}/"
                            title="{% trans 'Formularz rejestracji' %}">{% trans 'zarejestruj sie' %}</a>.
                    </p>
                {% endif %}
            </div>

            <div id="filmy">
                <div>
                    {% for v in match.get_videos %}
                        <p class="small" style="padding-left: 10px;">
                        <span>{{ v.content|safe }}</span><br/>
                        <span style="font-size: 24px;">{{ v.name }}</span><br/>
                        <span class="autor"><a href="/{% trans 'Uzytkownik URL' %}/{{ v.user|lower }}/">{{ v.user }}</a></span>
                        <span class="{% trans 'punkty' %}">({{ v.user.get_profile.points }} {% trans 'pkt' %})</span>
                        <span class="data" name="date">{{ v.created_at }}</span>
                        <br/>
                    {% endfor %}
                    <br class="clear"/>
                </div>
                {% if request.user.is_authenticated %}
                    <p class="komunikat informacja">
                        {% trans 'Jezeli chcialbys umiescic filmy zwiazane z tym spotkaniem w serwisie' %} <a
                            href="/{% trans 'mecz URL' %}/{{ match.id }}/add_videos/">{% trans 'kliknij tutaj' %}</a>.
                    </p>
                {% else %}
                    <p class="komunikat informacja">
                        {% trans 'Aby dodac filmy musisz sie zalogowac. Jesli nie masz jeszcze konta' %} <a
                            href="/{% trans 'Rejestracja URL' %}/"
                            title="{% trans 'Formularz rejestracji' %}">{% trans 'zarejestruj sie' %}</a>.
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock komentarze %}