{% extends "admin/core/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block userlinks %}<a href="../../doc/">{% trans 'Documentation' %}</a> /
    <a href="../../password_change/">{% trans 'Change password' %}</a> /
    <a href="../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}
    <div class="breadcrumbs"><a
            href="/admin/">{% trans "Home" %}</a> &rsaquo; {{ matches.opts.verbose_name_plural|capfirst|escape }}</div>
{% endblock %}{% endif %}
{% block coltype %}flex{% endblock %}
{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if has_add_permission %}
                <ul class="object-tools">
                    <li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                        {% blocktrans with matches.opts.verbose_name|escape as name %}Add
                            {{ name }}{% endblocktrans %}</a></li>
                </ul>
            {% endif %}
        {% endblock %}
        <div class="module{% if matches.has_filters %} filtered{% endif %}" id="changelist">

            <script type="text/javascript" src="{% admin_media_prefix %}js/prototype/prototype.js"></script>

            {% if matches.has_filters %}
                <div id="changelist-filter">
                    <h2>{% trans 'Filter' %}</h2>
                    {% for spec in matches.filter_specs %}
                        {% filter matches spec %}
                    {% endfor %}</div>{% endif %}

            <form action="" method="post">
                <table cellspacing="0">
                    <thead>
                    <tr>
                        <th width="100">lead year</th>
                        <th width="100">title</th>
                        <th width="300">&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for season in seasons %}
                        <tr style="background-color: beige;">
                            <td><input type="text" name="lead_year_{{ season.id }}" value="{{ season.lead_year }}"></td>
                            <td><input type="text" name="title_{{ season.id }}" value="{{ season.title }}"></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5">
                            <span style="float: left;"><input type="submit" value="EDIT"></span>
                            <span style="float: right; padding: 5px 5px 5px 5px; border: 1px grey solid; background-color: #CCCCCC"><a
                                    href="/admin/main/seasons/add">ADD NEW</a></span>
                        </td>

                    </tr>
                    </tbody>
                </table>
            </form>

        </div>
    </div>

{% endblock %}

