{% load i18n %}
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="robots" content="index,follow">
    <meta name="description" content="{% block description %}{% endblock description %}">
    <meta name="keywords"
          content="{% block keywords %}football, soccer, live scores, football scores, soccer scores, news, football news, soccer news, photos, videos, movies, goals, analyses, premiership, bundesliga, ligue 1, la liga, primera division, ligue 1, english league, german league, french league, spanish league, italian league{% endblock keywords %}">
    <meta name="verify-v1" content="J5B94mEDNEVXg3m4hfJZ+7RHnbL1loXBquvqEBUKzrc=">
    <META name="y_key" content="78519f21da2b70fd">
    <title>{% block title %}24goals.com - website for football fans, which YOU create | Live Scores, Football News and
        Prediction Game{% endblock %}</title>
    <link href="/static/css/layout_.css" rel="stylesheet" type="text/css">
    {% block jquery %}
        <script type="text/javascript" charset="utf-8" src="/static/js/jquery/jquery-1.2.2.js"></script>
    {% endblock %}
    <script type="text/javascript" src="/static/js/date.js"></script>
    <script type="text/javascript" src="/static/js/common_en.js"></script>
    {% block extrahead %}{% endblock %}
    <!--[if IE]>
<link href="/static/css/ie.css" rel="stylesheet" type="text/css">
<![endif]-->
</head>
<body>
<div id="top">
    <div id="top-content">
        <h1 id="logo">
            <a tabindex="1" href="/" title="Start">
                <img src="/static/images/logo24gole_en_beta.png" alt="24goals logo" width="150" height="44"/>
            </a>
        </h1>

        <div id="boks-funkcjonalny">
            {% block logout_box %}{% include "partials/logout_box.html" %}{% endblock logout_box %}
            {% block lang_box %}{% include "partials/lang_box.html" %}{% endblock lang_box %}
            {% block user_box %}{% include "partials/user_box.html" %}{% endblock user_box %}
        </div>
    </div>

    {% block top_menu %}
        <div id="menu" class="zwiniete">
            <div>
                <ul>
                    <li class="aktywny"><a tabindex="1" href="/" title="Start"><span>Start</span></a></li>
                    <li><a tabindex="1" href="/news/"
                           title="News, articles, events all european leagues"><span>News</span></a></li>
                    <li><a tabindex="1" href="/matches/"
                           title="Matches, Live Scores, Prediction game"><span>Matches</span></a></li>
                    <li class="red"><a tabindex="1" href="/videos/" title="Videos"><span>Videos</span></a></li>
                    <li><a tabindex="1" href="/predictions/" title="Users rankings"><span>Rankings</span></a></li>
                    <li><a tabindex="1" href="/users/" title="Users"><span>Users</span></a></li>
                    {% if request.user.is_authenticated %}
                        <li><a tabindex="1" href="/{% trans 'Uzytkownik URL' %}/{{ request.user }}/"
                               title="{% trans 'Uzytkownik' %} {{ request.user }}"><span>{{ request.user|capfirst }}</span></a>
                        </li>
                    {% endif %}
                    {# <li class="red"><a tabindex="1" href="/contest/" title="Contest"><span>Contest</span></a></li> #}
                </ul>
            </div>
        </div>
    {% endblock %}

</div>
<div id="kontener">
    <div id="kontent" class="uklad3k">
        <div id="sciezka">
            <a tabindex="1" href="/" title="24goals.com">24goals.com</a> / {% block path %}Start{% endblock path %}
        </div>
        <div id="kontent-glowny">
            {% block content %}{% endblock content %}
            <div id="kontent-kolumna2">
                {% block top_left %}{% endblock %}
                {% block left_menu %}
                    <div class="ligi modul">
                        <h4 class="tytul">Leagues</h4>
                        <ul>
                            <li><a tabindex="1" class="angielska" href="/teams/england/premiership/"
                                   title="First english league">Premiership</a></li>
                            <li><a tabindex="1" class="niemiecka" href="/teams/germany/bundesliga/"
                                   title="First german league">Bundesliga</a></li>
                            <li><a tabindex="1" class="francuska" href="/teams/france/ligue-1/"
                                   title="First french league">Ligue 1</a></li>
                            <li><a tabindex="1" class="wloska" href="/teams/italy/serie-a/"
                                   title="First italian league">Serie A</a></li>
                            <li><a tabindex="1" class="hiszpanska" href="/teams/spain/primera-division/"
                                   title="First spanish league">Primera Division</a></li>
                            {# <li><a tabindex="1" class="holenderska" href="/teams/netherlands/eredivisie/" title="First dutch league">Eredivisie</a></li> #}
                            <li><a tabindex="1" class="polska" href="/teams/poland/orange-ekstraklasa/"
                                   title="First polish league">1. Liga</a></li>
                            {# <li><a tabindex="1" class="swiat" href="/teams/" title="European leagues">All Leagues</a></li> #}
                            {# <li><a tabindex="1" class="cl" href="/teams/europe/champions-league/" title="Champions League">Champ. League</a></li> #}
                            {# <li><a tabindex="1" class="ue" href="/teams/europe/uefa-cup/" title="UEFA Cup">UEFA Cup</a></li> #}
                        </ul>
                    </div>
                    <br/>
                    <div class="ligi modul">
                        <h4 class="tytul">Results</h4>
                        <ul>
                            <li><a tabindex="1" class="angielska" href="/matches/england/premiership/"
                                   title="First english league">Premiership</a></li>
                            <li><a tabindex="1" class="niemiecka" href="/matches/germany/bundesliga/"
                                   title="First german league">Bundesliga</a></li>
                            <li><a tabindex="1" class="francuska" href="/matches/france/ligue-1/"
                                   title="First french league">Ligue 1</a></li>
                            <li><a tabindex="1" class="wloska" href="/matches/italy/serie-a/"
                                   title="First italian league">Serie A</a></li>
                            <li><a tabindex="1" class="hiszpanska" href="/matches/spain/primera-division/"
                                   title="First spanish league">Primera Division</a></li>
                            {# <li><a tabindex="1" class="holenderska" href="/matches/netherlands/eredivisie/" title="First dutch league">Eredivisie</a></li> #}
                            <li><a tabindex="1" class="polska" href="/matches/poland/orange-ekstraklasa/"
                                   title="First polish league">1. Liga</a></li>
                            <li><a tabindex="1" class="swiat" href="/matches/" title="European leagues">All Leagues</a>
                            </li>
                            <li><a tabindex="1" class="cl" href="/matches/europe/champions-league/"
                                   title="Champions League">Champ. League</a></li>
                            <li><a tabindex="1" class="ue" href="/matches/europe/uefa-cup/" title="UEFA Cup">UEFA
                                Cup</a></li>
                        </ul>
                    </div>
                    <br/>
                {% endblock left_menu %}

                {{ online }}

                {% block left_part %}
                    {% if not debug %}
                        <script type="text/javascript"><!--
                        google_ad_client = "pub-9431897319272944";
                        google_alternate_color = "FFFFFF";
                        google_ad_width = 120;
                        google_ad_height = 600;
                        google_ad_format = "120x600_as";
                        google_ad_type = "text_image";
                        //2007-10-06: 24gole
                        google_ad_channel = "9689877242";
                        google_color_border = "DDDDDD";
                        google_color_bg = "FFFFFF";
                        google_color_link = "6FB627";
                        google_color_text = "000000";
                        google_color_url = "52861E";
                        //-->
                        </script>
                        <script type="text/javascript"
                                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                        </script>
                    {% endif %}
                {% endblock left_part %}
            </div>
        </div>
        <div id="stopka">
            <div>
                <ul>
                    <li><a href="http://blog.24goals.com/" title="Site's Blog">Blog</a></li>
                    <li><a href="/contact/" title="Contact" style="color: orange;">Contact</a></li>
                    {# <li><a href="/about/" title="About Us">About</a></li> #}
                    <li><a href="/rules/" title="Game rules">Rules</a></li>
                    {# <li><a href="/press/" title="For press">Press</a></li> #}
                </ul>
                <span>&copy; 2007-2008 24goals.com</span>
                <br class="clear"/>
            </div>
        </div>
        {% if not debug %}
            <script type="text/javascript">
                var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
                document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
            </script>
            <script type="text/javascript">
                var pageTracker = _gat._getTracker("UA-317705-3");
                pageTracker._initData();
                pageTracker._trackPageview();
            </script>
        {% endif %}
</body>
</html>

{% if debug %}
    <div id="debug">
        <h2>Queries</h2>

        <p>
            {{ sql_queries|length }} Queries
            {% ifnotequal sql_queries|length 0 %}
                (<span style="cursor: pointer;" onclick="document.getElementById('debugQueryTable').style.display='';">Show</span>
                )
            {% endifnotequal %}
        </p>
        <table id="debugQueryTable" style="display: none;">
            <col width="1"></col>
            <col></col>
            <col width="1"></col>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">SQL</th>
                <th scope="col">Time</th>
            </tr>
            </thead>
            <tbody>
            {% for query in sql_queries %}
                <tr class="{% cycle odd,even %}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ query.sql|escape }}</td>
                    <td>{{ query.time }}</td>
                </tr>{% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}
