{% load i18n %}
{% if request.user.is_authenticated %}
    <div id="logowanie">
        <p>
            <a tabindex="1" href="/logout/" title="{% trans 'Wyloguj' %}">{% trans 'Wyloguj' %}</a>
        </p>
    </div>
{% else %}
    <div id="logowanie">
        <form name="form-logowanie" action="/login/" method="post">
            <p>
                <label for="login">Login</label>
                <input tabindex="1" class="text" id="login" type="text" name="username"/>
                <label for="haslo">{% trans 'Haslo' %}</label>
                <input tabindex="1" class="text" id="haslo" type="password" name="password"/>
                <input tabindex="1" class="button" type="image" value="OK" src="/static/images/button_ok.gif"/>
            </p>
        </form>
    </div>
{% endif %}