{% extends layout_lang %}{% load i18n lang common modules flash pick timezones %}

{% block extrahead %}
    <script type="text/javascript" charset="utf-8" src="/static/js/jquery/ui.tabs.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#last_matches_{{team.id}} > ul").tabs();
            $("#tabele_tabs > ul").tabs();
        });
    </script>
{% endblock %}

{% block title %}
    {% trans '24gole' %} - {% trans 'Druzyna' %} {% lang team.name_en team.name_pl %} -
    {% trans 'Wyniki, terminarze, wiadomosci' %}
{% endblock %}

{% block description %}
    {% trans 'Najnowsze wiadomosci o druzynie' %} {% lang team.name_en team.name_pl %}
{% endblock %}

{% block top_menu %}
    {{ menu }}
{% endblock %}

{% block path %}
    {% trans 'Druzyna' %} / {% lang team.name_en team.name_pl %}
{% endblock %}

{% block content %}

    <div id="kontent-uzytkownik">
        <div class="kolumna1">
            <div class="modul">
                <h1 class="tytul">{% trans 'Ostatnie wyniki' %}</h1>
                {{ results }}
            </div>
            <div class="modul">
                <h1 class="tytul">{% trans 'Na zywo / Terminarz' %}</h1>
                {{ live_fixtures }}
            </div>
        </div>
        <div class="kolumna2">
            <div class="modul">
                <h1 class="tytul">{% lang team.name_en team.name_pl %} - {% trans 'Najnowsze wiadomosci' %}</h1>
                {{ teams_news }}
            </div>
            {# <div class="modul"> #}
            {# 			<h1 class="tytul">{% trans 'Najpopularniejsze w ostatnim tygodniu' %} - {% lang team.name_en team.name_pl %}</h1> #}
            {# 			{{team_news_most_popular}} #}
            {# 		</div> #}
        </div>
    </div>

    <div id="kontent-tresc">
        <div class="modul">
            <h1 class="tytul"
                style="background:url(/static/images/flags/gif/{{ team.country_code|lower }}.gif) no-repeat 6px 50%; padding-left: 30px;">{{ team.name_en }}</h1>
            {{ league_table }}
        </div>
    </div>
    <div id="kontent-kolumna1">
        <div class="modul">
            <h1 class="tytul">{% trans 'Najlepsi kibice zespolu' %}</h1>
            {{ top_users }}
        </div>
        {{ league_tables }}

        <div class="adBlok">
            {% block skyscrapper %}
                {# {% include "partials/adsense.html" %} #}
            {% endblock skyscrapper %}
        </div>
    </div></div>
{% endblock content %}