{% extends "admin/core/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block userlinks %}<a href="../../doc/">{% trans 'Documentation' %}</a> /
    <a href="../../password_change/">{% trans 'Change password' %}</a> /
    <a href="../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}
    <div class="breadcrumbs"><a
            href="/admin/">{% trans "Home" %}</a> &rsaquo; {{ matches.opts.verbose_name_plural|capfirst|escape }}</div>
{% endblock %}{% endif %}
{% block coltype %}flex{% endblock %}
{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if has_add_permission %}
                <ul class="object-tools">
                    <li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                        {% blocktrans with matches.opts.verbose_name|escape as name %}Add
                            {{ name }}{% endblocktrans %}</a></li>
                </ul>
            {% endif %}
        {% endblock %}
        <div class="module{% if matches.has_filters %} filtered{% endif %}" id="changelist">

            <script type="text/javascript" src="{% admin_media_prefix %}js/prototype/prototype.js"></script>

            <p>Czy jesteś pewien, że chcesz <strong>odrzucić</strong> news użytkownika <strong>{{ news.user }}</strong>
                ?</p>

            <p><strong>Tytuł:</strong> {{ news.caption }}</p>

            <form action="" method="post">

                <p>
                    Język:
                </p>

                <p>
                    <select name="lang">
                        <option value="">---</option>
                        <option value="pl">PL</option>
                        <option value="en">EN</option>
                    </select>
                </p>
                <p>
                    Template: (<a href="/admin/main/mailingtemplates/">przeglądaj</a> / <a
                        href="/admin/main/mailingtemplates/add/">dodaj nowy</a>)
                </p>

                <p>
                    <select name="template_id">
                        <option value="">---</option>
                        {% for t in templates %}
                            <option value="{{ t.id }}">{{ t.name }}</option>
                        {% endfor %}
                    </select>
                </p>
                <p>
                    <input type="checkbox" name="test_mail"> Testowy email (tylko do marek@24gole.pl)
                </p>

                <p>
                    <input type="submit" value="WYGENERUJ"/>
                </p>
            </form>

        </div>
    </div>

{% endblock %}