{% extends "admin/core/base_site.html" %}
{% load adminmedia admin_list i18n %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block userlinks %}<a href="../../doc/">{% trans 'Documentation' %}</a> /
    <a href="../../password_change/">{% trans 'Change password' %}</a> /
    <a href="../../logout/">{% trans 'Log out' %}</a>{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}
    <div class="breadcrumbs"><a
            href="/admin/">{% trans "Home" %}</a> &rsaquo; {{ matches.opts.verbose_name_plural|capfirst|escape }}</div>
{% endblock %}{% endif %}
{% block coltype %}flex{% endblock %}
{% block content %}
    <div id="content-main">
        {% block object-tools %}
            {% if has_add_permission %}
                <ul class="object-tools">
                    <li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">
                        {% blocktrans with matches.opts.verbose_name|escape as name %}Add
                            {{ name }}{% endblocktrans %}</a></li>
                </ul>
            {% endif %}
        {% endblock %}
        <div class="module{% if matches.has_filters %} filtered{% endif %}" id="changelist">

            <script type="text/javascript" src="{% admin_media_prefix %}js/prototype/prototype.js"></script>

            {% if matches.has_filters %}
                <div id="changelist-filter">
                    <h2>{% trans 'Filter' %}</h2>
                    {% for spec in matches.filter_specs %}
                        {% filter matches spec %}
                    {% endfor %}</div>{% endif %}

            <h1>{% trans 'Komentarze' %} i analizy</h1>

            <form action="" method="post">

                <table cellspacing="0">
                    <thead>
                    <tr>
                        <th>NewsID</th>
                        <th>MatchID</th>
                        <th>UserID</th>
                        <th width="350">Date</th>
                        <th>Accepted ?</th>
                        <th>Deleleted ?</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input type="text" name="filter_nid" id="filter_nid" size="4">
                        </td>
                        <td>
                            <input type="text" name="filter_mid" id="filter_mid" size="4">
                        </td>
                        <td>
                            <input type="text" name="filter_uid" id="filter_uid" size="4">
                        </td>
                        <td>
                            <strong>od</strong>
                            <input type="text" name="filter_date_start" size="10" class="vDateField">
                            <strong>do</strong>
                            <input type="text" name="filter_date_end" size="10" class="vDateField">
                        </td>
                        <td>
                            <a href="#" onclick="$('filter_accepted').value=1;">Tak</a> / <a href="#"
                                                                                             onclick="$('filter_accepted').value=0;">Nie</a>
                        </td>
                        <td>
                            <a href="#" onclick="$('filter_deleted').value=1;">Tak</a> / <a href="#"
                                                                                            onclick="$('filter_deleted').value=0;">Nie</a>
                        </td>
                        <td>
                            <input type="hidden" name="filter_accepted" value="" id="filter_accepted">
                            <input type="hidden" name="filter_deleted" value="" id="filter_deleted">
                            <input type="submit" name="filter" value="Filtruj">
                        </td>
                    </tr>
                    </tbody>
                </table>

            </form>

            <form action="" method="post">

                <table cellspacing="0">
                    <thead>
                    <tr>
                        <th width="20">ID</th>
                        <th width="5">&nbsp;</th>
                        <th width="30">Author</th>
                        <th width="400">Content</th>
                        <th width="100">Related</th>
                        <th width="35">Created at</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for c in comments %}
                        <tr>
                            <td><a href="{{ c.id }}">{{ c.id }}</td>
                            <td width="1">{% if not c.is_deleted %}
                                <input type="checkbox" name="delete_{{ c.id }}">{% endif %}</td>
                            <td><a href="#" onclick="$('filter_uid').value={{ c.user.id }}">{{ c.user }}</td>
                            <td>{{ c.content }}</td>
                            <td>
                                {% ifequal c.dst "m" %}
                                    <a style="padding: 2px 2px 2px 2px; border: 1px solid grey;" href="#"
                                       onclick="$('filter_mid').value=''; $('filter_nid').value=''; $('filter_mid').value={{ c.dst_id }};">show
                                        related</a>
                                {% endifequal %}

                                {% ifequal c.dst "a" %}
                                    <a style="padding: 2px 2px 2px 2px; border: 1px solid grey;" href="#"
                                       onclick="$('filter_mid').value=''; $('filter_nid').value=''; $('filter_mid').value={{ c.dst_id }};">show
                                        related</a>
                                {% endifequal %}

                                {% ifequal c.dst "n" %}
                                    <a style="padding: 2px 2px 2px 2px; border: 1px solid grey;" href="#"
                                       onclick="$('filter_mid').value=''; $('filter_nid').value=''; $('filter_nid').value={{ c.dst_id }};">show
                                        related</a>
                                {% endifequal %}
                            </td>
                            <td>
                                {{ c.created_at }}
                            </td>
                            <td>
                                {% if not c.is_accepted %}
                                    <a style="padding: 2px 2px 2px 2px; border: 1px solid grey;"
                                       href="/admin/main/comments/{{ c.id }}/accept">accept!</a>&nbsp;&nbsp;&nbsp;
                                {% else %}
                                    <a style="padding: 2px 2px 2px 2px; border: 1px solid grey;"
                                       href="/admin/main/comments/{{ c.id }}/accept"><b>un</b>accept!</a>&nbsp;&nbsp;
                                    &nbsp;
                                {% endif %}
                                {# <a style="padding: 2px 2px 2px 2px; border: 1px solid grey;" href="/admin/main/comments/{{c.id}}/">edit</a> #}
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

                <input type="submit" name="delete" value="mass delete">

        </div>
    </div>

{% endblock %}

